html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin:auto;
    
  
    
  }
  
  .footer {
	
    flex-shrink: 0;
    /* background-color:#0164A7; */
    background-color:#8C2929;
	background-image: url(../img/CoarseGrid.png);
  
	background-repeat: repeat;
    color:rgba(255,255,255,0.6);
     margin-top: 5px; 
    padding-top:20px;
    padding-bottom: 20px;
  }
  .footer a, .footer span{
  
  
    color:rgba(255,255,255,0.6);
	font-size:0.8em;
    
  }
  
  .width-100-height-100{
	  width:100%;
	  height:100%;
  }
  
  .footer_topic{
	  display:block;
	  font-size:2em;
	  
	  color:rgba(255,255,255,1);
  }
  
  .footer_sub{
	  display:block;
	  font-size:1em;
	  
	  color:rgba(255,255,255,0.7);
  }
  
  .social_media_footer_logo{
	  
	  display:block;
	  text-decoration:none;
	  
  }
  
  .copy{
	  text-align:center;
  }

.top_div{

    background-image: url(../img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
	flex: 1 0 auto;
	padding:auto;
	height:80%;
    
}

.top_div_2{

    
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
	flex: 1 0 auto;
	padding:auto;
	height:40%;
    
}

.top_about{
	background-image: url(../img/img2.jpg);
}

.top_service{
	background-image: url(../img/img3.jpg);
}

.top_contact{
	background-image: url(../img/img4.jpg);
}

.breadcrumb{
	background:transparent;
}


 .padding-10{
	 padding:10px;
 }

  .overlay{

    position: relative;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    z-index:10;
    background-color: rgba(0,0,0,0.5);

    padding-bottom: 200px;
  }


.card-footer{
	
	height:10px;
	border:1px solid black;
	
}

.navbar-toggler-icon{
	
	color:rgba(255,255,255,0.9);
}


.root {
    
    flex: 1 0 auto;
    
	padding:20px;
	
    
  }
  
.min-height-80{
	
	min-height:80%;
}

.btn-special{
	
	
	font-size:.6em;
}

.border-radius-15{
	border-radius:15px;
}

@font-face {

   font-family:'limelight-regular';
   src: url('../resources/Limelight_Regular.ttf') format('truetype');

}




@font-face {

   font-family:'signika-regular';
   src: url('../font/Signika/Signika-Regular.ttf') format('truetype');

}


*,p {
   font-family: 'signika-regular','limelight-regular', san-serif;
   color:rgb(128,128,128);
   
}

header {
   
    font-family: 'limelight-regular', san-serif; 
   
}


button{
	cursor:pointer;
	padding:auto;
}

.btn > span{
	color:white;
}


/** Spinner starts**/

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width:60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/** Spinner ends**/

.jumbotron {
	
	
	height:80px;
	background-color: rgba(0,0,0,0.9);
	background-image: url(../img/slide5.jpg);
  
	background-repeat: no-repeat;
	
}

.jumbotron > .container > .display-7 {
	
	color:rgb(255,255,255);
	
}


.card-header{
	background-color: rgba(238,238,238,0.8);
	color:white;
	margin:0px;
	width:100%;
	border:none;
	
}

.table-responsive{
	
	margin:50px 0px 50px 0px;
	
}



.jumbotron, .card-no-box-shadow{
	-webkit-box-shadow:none;
	box-shadow:none;
	

}
.margin-top-15{
	
	margin-top:15px;
}

.margin-left-right-auto{
	
	margin-left:auto;
	margin-right:auto;
}

.margin-right-15{
	margin-right:15px;
}

.padding-10{
	padding:10px;
}

.padding-top-100{
	padding-top:100px;
}

.color-white,.breadcrumb>li{
	
	color:white;
}


.fa-star-custom{
	
	padding:3px;
}



.margin-left-100{
	
	margin-left:100px;
}

.margin-bottom-15{
	margin-bottom:15px;
}

.float-left{
	float:left;
}

.width-200-height-200{
	width:200px;
	height:200px;
}

.width-200{
	width:200px;
}

.small-icon{
	
	width:50px;
	height:50px;
	
}

.small-icon > .fa{
	
	margin:auto;
	
}

.circle{
	border-radius: 50%;
	margin: 0.15em;
	font-size: 1em;
	padding:0 5px;
	text-align:center;
	background-color:white;
	color:white;
}

.circle-logo{
	border-radius: 50%;
	margin: 0.15em;
	font-size: 2em;
	padding:3px 5px;
	text-align:center;
	background-color:white;
	color:#0164A7;
}
	
.va-blue{
	background-color:#0164A7;
}

.va-alt{
	
	background-color: rgba(255,100,0,0.8);
}


h1,h2,h3,h4,h5,label{
	font-weight:bold;
	
}

span{
	font-size:0.75em;
}

p{
	text-align:justify;
}

.partners-logo li{
list-style: none;
display: inline-block;
margin: 2% 3.5%;
width: 10%;
}

.partners-logo li img {
 width: 100%;

}
.small-logo{
	
	height:70px;
	width:auto;
}

@keyframes breath {
	0% {background-size: 100% auto;}
	50% {background-size: 140% auto;}
	100% {background-size: 100% auto;}
}

.top_div_animation{
	
	animation: breath 4s linear 1;
}

.red-wine{
	color:#8C2929;
}

.light-blue-custom{
	color:#0164A7;
}

.bg-red-wine{
	background-color:#8C2929;
}

.bg-light-blue-custom{
	background-color:#0164A7;
}

h1 > span{
	font-size:1.4em;
}

.border-left-5{
	 border-left:5px solid #0164A7; 
}

.md-form > label{
	color:#8C2929;
}

.md-form > .fa{
	color:#8C2929;
}


/* Media Query*/

@media screen and (max-width: 1200px) {
  
  .top_div{

		height:40%;
    
	}
}

@media screen and (max-width: 922px) {
  .top_div{

		height:50%;
    
	}
}

@media screen and (max-width: 768px) {
  .top_div{

		height:60%;
    
	}
}

@media screen and (min-width: 544px) and (max-width: 768px){
  .top_div{

		height:60%;
    
	}
}

@media screen and (max-width: 544px) {
   .top_div{

		height:80%;
    
	}
	
	.circle{
	border-radius: 50%;
	margin: 0.15em;
	font-size: 0.4em;
	padding:0 5px;
	text-align:center;
	color:white;
	}
	
}


